<style>
    .navbar-nav {
        margin: 0 auto; /* Center the navigation items */
    }
</style>
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav app-nav-font">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Home
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/">Home</a></li>
                        <li><a class="dropdown-item" href="/toc">Table of Contents</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Chapters
                    </a>
                    <ul class="dropdown-menu">
                        {% assign pages = site.pages | sort: "name" %}
                        {% for page in pages %}
                        {% if page.url contains "/index.html" and page.url != "index.html" %}  <li><a class="dropdown-item" href="{{ page.url }}">{{ page.title }}</a></li>
                        {% else %}
                        {% if page.children.size > 0 %}
                        <li class="dropdown-item dropdown">
                            <a class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ page.title }}
                            </a>
                            <ul class="dropdown-menu">
                                {% assign subpages = page.children | sort: "name" %}
                                {% for subpage in subpages %}
                                {% if subpage.url contains "/index.html" %}
                                <li><a class="dropdown-item" href="{{ subpage.url }}">{{ subpage.title }}</a></li>
                                {% else %}
                                <li><a class="dropdown-item" href="{{ subpage.url }}">{{ subpage.title }}</a></li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        {% endif %}
                        {% unless forloop.last %}
                        <li><hr class="dropdown-divider"></li>
                        {% endunless %}
                        {% endfor %}
                    </ul>
                </li>



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Encounters
                    </a>
                    <ul class="dropdown-menu">
                        {% for page in site.pages %}
                        {% if page.path contains '_pages/encounters/' %}
                        <li><a class="dropdown-item" href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Locations
                    </a>
                    <ul class="dropdown-menu">
                        {% for page in site.pages %}
                        {% if page.path contains '_pages/locations/' %}
                        <li><a class="dropdown-item" href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        NPCs
                    </a>
                    <ul class="dropdown-menu">
                        {% for page in site.pages %}
                        {% if page.path contains '_pages/npcs/' %}
                        <li><a class="dropdown-item" href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Rewards
                    </a>
                    <ul class="dropdown-menu">
                        {% for page in site.pages %}
                        {% if page.path contains '_pages/rewards/' %}
                        <li><a class="dropdown-item" href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Monsters
                    </a>
                    <ul class="dropdown-menu">
                        {% for page in site.pages %}
                        {% if page.path contains '_pages/monsters/' %}
                        <li><a class="dropdown-item" href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Appendices
                    </a>
                    <ul class="dropdown-menu">
                        {% for page in site.pages %}
                        {% if page.path contains '_pages/appendices/' %}
                        <li><a class="dropdown-item" href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Notes
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Dm</li>
                        {% assign dm_notes = site.pages | where_exp: "item", "item.relative_path contains '_pages/notes/dm/'" %}
                        {% for page in dm_notes %}
                        <li><a class="dropdown-item" href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endfor %}

                        {% unless forloop.last %}
                        <li><hr class="dropdown-divider"></li>
                        {% endunless %}

                        <li class="dropdown-header">Session Prep</li>
                        {% assign session_prep_notes = site.pages | where_exp: "item", "item.relative_path contains '_pages/notes/session-prep/'" %}
                        {% for page in session_prep_notes %}
                        <li><a class="dropdown-item" href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endfor %}

                        {% unless forloop.last %}
                        <li><hr class="dropdown-divider"></li>
                        {% endunless %}

                        <li class="dropdown-header">Session Recap</li>
                        {% assign session_recap_notes = site.pages | where_exp: "item", "item.relative_path contains '_pages/notes/session-recap/'" %}
                        {% for page in session_recap_notes %}
                        <li><a class="dropdown-item" href="{{ page.url }}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Quick Links
                    </a>
                    <ul class="dropdown-menu">
                        {% for item in site.data.quicklinks.quicklinks %}
                        <li><a class="dropdown-item" href="{{ item.url }}" target="_blank">{{ item.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
