<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

    {% include styles.html %}
</head>
<body>
<div id="page-container">
    <div id="content-wrap">

        {% include header.html %}
        {% include navigation.html %}
        {% include searchbar.html %}
        {% include heroimage.html %}
        <div class="">
            {{ content }}
        </div>

        <footer id="footer" class="app-footer text-center">
            <p>Role Playing Masters</p>
        </footer>
    </div>
</div>


{% include scripts.html %}
<script src="/assets/js/search.js"></script>
</body>
</html>