---
layout: default
---

<!-- Additional location-specific content can go here -->
<div class="phb">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        {% if page.jumbo %}
        <div class="row">
            <div class="col-md-12">
                <img src="/assets/images/locations/{{ page.jumbo }}" class="img-fluid" alt="{{ page.title }} battle map">
            </div>
        </div>
        {% endif %}


        <div class="row">
            <div class="col-md-3">
                <!-- Include the chapter TOC -->
                {% assign chapter_value = page.chapter %}
                {% include locations_toc.html chapter=chapter_value %}
            </div>
            <div class="col-md-9">
                <div class="row">


                    <p>{{ page.description }}</p>

                    <h2>Challenges</h2>
                    <ul>
                        <li><b>Traps:</b>
                            <ul>
                                {% if page.challenges.traps %}
                                {% assign traps = page.challenges.traps | split: '\n' %}
                                {% for trap in traps %}
                                <li>{{ trap }}</li>
                                {% endfor %}
                                {% else %}
                                <li>No traps listed.</li>
                                {% endif %}
                            </ul>
                        </li>
                        <li><b>Ambushes:</b>
                            <ul>
                                {% if page.challenges.ambushes %}
                                {% assign ambushes = page.challenges.ambushes | split: '\n' %}
                                {% for ambush in ambushes %}
                                <li>{{ ambush }}</li>
                                {% endfor %}
                                {% else %}
                                <li>No ambushes listed.</li>
                                {% endif %}
                            </ul>
                        </li>
                        <li><b>Puzzles:</b>
                            <ul>
                                {% if page.challenges.puzzles %}
                                {% assign puzzles = page.challenges.puzzles | split: '\n' %}
                                {% for puzzle in puzzles %}
                                <li>{{ puzzle }}</li>
                                {% endfor %}
                                {% else %}
                                <li>No puzzles listed.</li>
                                {% endif %}
                            </ul>
                        </li>
                        <li><b>Hazards:</b>
                            <ul>
                                {% if page.challenges.hazards %}
                                {% assign hazards = page.challenges.hazards | split: '\n' %}
                                {% for hazard in hazards %}
                                <li>{{ hazard }}</li>
                                {% endfor %}
                                {% else %}
                                <li>No hazards listed.</li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>


                    <h2>Secrets</h2>
                    <ul>
                        {% if page.secrets %}
                        {% for secret in page.secrets %}
                        <li>{{ secret }}</li>
                        {% endfor %}
                        {% else %}
                        <li>No known secrets.</li>
                        {% endif %}
                    </ul>

                    <h2>Plot Hooks</h2>
                    <ul>
                        {% if page.plot_hooks %}
                        {% for hook in page.plot_hooks %}
                        <li>{{ hook }}</li>
                        {% endfor %}
                        {% else %}
                        <li>No plot hooks provided.</li>
                        {% endif %}
                    </ul>

                    <h2>NPCs</h2>
                    <ul>
                        {% if page.npcs %}
                        {% for npc in page.npcs %}
                        <li><b>{{ npc.name }}</b> - {{ npc.description }}</li>
                        {% endfor %}
                        {% else %}
                        <li>No NPCs listed.</li>
                        {% endif %}
                    </ul>

                    <h2>Environmental Features</h2>
                    <ul>
                        {% if page.environmental_features %}
                        {% for feature in page.environmental_features %}
                        <li>{{ feature }}</li>
                        {% endfor %}
                        {% else %}
                        <li>No environmental features described.</li>
                        {% endif %}
                    </ul>

                    <h2>Additional Notes</h2>
                    <p>{{ page.additional_notes }}</p>

                </div>
            </div>
        </div>

        <div class="row">
            {{ content }}
        </div>
    </div>
</div>

