---
layout: default
---

<!-- Additional location-specific content can go here -->
<div class="phb">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        {% if page.jumbo %}
        <div class="row">
            <div class="col-12">
                <div>
                    <img src="/assets/images/locations/{{ page.jumbo }}" class="img-fluid" alt="{{ page.title }} battle map">
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            {{ content }}
        </div>
    </div>
</div>
