---
layout: default
permalink: /gallery/:slug
---


<div class="container">
    <div class="row">
        {% assign npcs = site.data.npcs | sort: "chapter" %}
        {% for npc in npcs %}
        {% assign rowCount = forloop.index | modulo: 4 %}
        {% if rowCount == 1 %}
        <div class="row">
            {% endif %}
            <div class="col-md-3">
                {% include gallery_card.html npc=npc %}
            </div>
            {% if rowCount == 0 or forloop.last %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>